@(tentForm: Form[Tent])

@import helper._
@import views.html.helpers._
@implicitField = @{ FieldConstructor(tableInput.f) }

@accessoryGroup(field: Field, className: String = "accessoryGroup", style: String = "") = {
    <tr class="@className" style="@style">
        <td>
            @select(
                field("item.category"),
                options(Category.options),
                'id -> "categorySelect0", 'class -> "form-control categorySelect", 'onchange -> "loadItems(this);"
            )(implicitField, null)
        </td>
        <td>
            @if(style.equals("")) {
                @select(
                    field("item.id"),
                    options(Category.options),
                    'id -> "itemSelect0", 'class -> "form-control itemSelect", 'required -> "true"
                )(implicitField, null)
            }else{
                @select(
                    field("item.id"),
                    options(Category.options),
                    'id -> "itemSelect0", 'class -> "form-control itemSelect"
                )(implicitField, null)
            }
        </td>
        <td>
            @if(style.equals("")) {
                @inputText(
                    field("amount"),
                    'type -> "number", 'class -> "form-control amountInput", 'min -> "1", 'required -> "true"
                )
            }else{
                @inputText(
                    field("amount"),
                    'class -> "form-control amountInput"
                )
            }
        </td>
        <td>
            <button class="btn btn-danger btn-sm" onclick="removeAccessory(this);" data-widget="remove">
                <i class="fa fa-times"></i>
            </button>
        </td>

    </tr>
}

@masters.tents("IS Klost | Nový stan"){

}{
    <div class="row">
        <div class="col-md-12">

            @form(routes.Tents.create(), 'id -> "form", 'class -> "form-horizontal"){

                <div class="box box-solid box-primary" style="width:960px;">

                    <div class="box-header">
                        <h3 class="box-title">Nový stan</h3>
                    </div>
                    <div class="box-body">

                        @inputText(tentForm("name"), '_label -> "Názov", 'class -> "form-control", 'placeholder -> "Názov stanu", 'required -> "true")
                        <hr>
                        <h4>Položky stanu</h4>

                    </div>
                    <div class="box-body no-padding">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th style="width:240px;">Kategoria</th>
                                    <th style="width:580px;">Položka</th>
                                    <th>Počet</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @repeat(tentForm("accessories")) { accessory =>
                                    @accessoryGroup(accessory)
                                }
                                @accessoryGroup(
                                    tentForm("accessories[x]"),
                                    "accessoryGroupTemplate",
                                    "display:none;"
                                )
                            </tbody>
                        </table>
                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Vytvorit</button>
                        <a type="button" class="btn btn-default" href="@routes.Tents.list()" >Späť</a>
                        <button type="button" style="margin-right: -2px;" class="pull-right btn btn-info btn-sm" id="addAccessory">
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>

                </div>

            }

        </div>
    </div>
}{
    <script type="text/javascript" src='@routes.Assets.at("js/itemSelect.js")'></script>
    <script type="text/javascript">
        function loadItems(e) {
            var cat = e.options[e.selectedIndex].value;
            var itemSelect = document.getElementById('itemSelect' + e.id.substr(14));
            var selectedIndex = itemSelect.selectedIndex;

            $.get("/store/items/" + cat, function(items) {
                $('#itemSelect' + e.id.substr(14)).html("");
                $.each(items, function(index, item) {
                    var opt = $("<option>").text(item.name);
                    opt.prop('value', item.id);
                    $('#itemSelect' + e.id.substr(14)).append(opt);
                });
                itemSelect.selectedIndex = selectedIndex;
            });
        };

        function renumber() {
            $(".accessoryGroup").each(function(i) {
                $(".categorySelect", this).each(function() {
                    $(this).attr("id", "categorySelect" + i);
                    $(this).attr("name", $(this).attr("name").replace(/accessories\[.+?\]/g, "accessories[" + i + "]"));
                });
                $(".itemSelect", this).each(function() {
                    $(this).attr("name", $(this).attr("name").replace(/accessories\[.+?\]/g, "accessories[" + i + "]"));
                    $(this).attr("id", "itemSelect" + i);
                });
                $(".amountInput", this).each(function() {
                    $(this).attr("name", $(this).attr("name").replace(/accessories\[.+?\]/g, "accessories[" + i + "]"));
                });
            });
        };

        function removeAccessory(e){
            e.parentNode.parentNode.remove();
            renumber();
        };
    </script>
}