@(eventType: String)(id: String)(eventForm: Form[EventTO])

@import helper._
@import views.html.helpers._
@implicitField = @{ FieldConstructor(plainElement.f) }

@entryGroup(field: Field, className: String = "entryGroup", style: String = "") = {
    <tr class="@className" style="@style">
        <td>
        @select(
            field("item.category"),
            options(Category.eventOptions),
            'id -> "categorySelect0", 'class -> "form-control categorySelect"
        )(implicitField, null)
        </td>
        <td>
        @if(style.equals("")) {
            @select(
                field("item.id"),
                options(Item.options( field("item.category").value.toString)),
                'id -> "itemSelect0", 'class -> "form-control itemSelect", 'required -> "true"
            )(implicitField, null)
        }else{
            @select(
                field("item.id"),
                options(Item.options( field("item.category").value.toString)),
                'id -> "itemSelect0", 'class -> "form-control itemSelect"
            )(implicitField, null)
        }
        </td>
        <td>
        @if(style.equals("")) {
            @inputText(
                field("amount"),
                'type -> "number", 'class -> "form-control amountInput", 'min -> "1", 'required -> "true"
            )
        }else{
            @inputText(
                field("amount"),
                'class -> "form-control amountInput"
            )
        }
        </td>
        <td>
            <button type="button" class="btn btn-danger removeEntry">
                <i class="fa fa-times"></i>
            </button>
        </td>
    </tr>
}

@masters.calendar("IS Klost | " + Messages(eventType)){

}{
    <div class="row">
        <div class="col-md-12">

            <div class="box box-solid box-primary" style="width:960px;">

                <div class="box-header">
                    <h3 class="box-title">@Messages(eventType)</h3>
                </div>

                @form(routes.Kalendar.update(eventType, id), 'id -> "form", 'class -> "form-horizontal"){
                    <div class="box-body">

                        <div class="form-group">
                            <label class="col-sm-1 control-label">Názov</label>
                            <div class="col-sm-11">
                                @inputText(eventForm("name"), 'class -> "form-control", 'required -> "true")
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-1 control-label"></label>
                            <div class="col-sm-11">
                                <div class="checkbox">
                                    <label id="checkboxAllDay">
                                        @if(eventForm.apply("allDay").value.equals("true")){
                                            @inputText(eventForm("allDay"), 'type -> "checkbox", 'checked -> "true")
                                        }else {
                                            @inputText(eventForm("allDay"), 'type -> "checkbox")
                                        }
                                        Celý deň
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-1 control-label">Začiatok</label>
                            <div class="col-sm-3">
                                @inputText(eventForm("startDate"), 'id -> "startDate", 'type -> "date", 'class -> "form-control", 'required -> "true")
                            </div>
                            <div class="col-sm-2">
                                @inputText(eventForm("startTime"), 'id -> "timeInputStart", 'type -> "time", 'class -> "form-control", 'required -> "true")
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-1 control-label">Koniec</label>
                            <div class="col-sm-3">
                                @inputText(eventForm("endDate"), 'id -> "endDate",  'type -> "date", 'class -> "form-control", 'required -> "true")
                            </div>
                            <div class="col-sm-2">
                                @inputText(eventForm("endTime"), 'id -> "timeInputEnd", 'type -> "time", 'class -> "form-control", 'required -> "true")
                            </div>
                        </div>
                        <hr>
                        <h4>Potrebné položky</h4>

                    </div>

                    <div class="box-body no-padding">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th style="width:240px;">Kategoria</th>
                                    <th style="width:580px;">Položka</th>
                                    <th>Počet</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @repeat(eventForm("entries")) { entry =>
                                    @entryGroup(entry)
                                }
                                @entryGroup(
                                    eventForm("entries[x]"),
                                    "entryGroupTemplate",
                                    "display:none;"
                                )
                            </tbody>
                        </table>
                    </div>

                    <div class="box-footer">

                        <button type="submit" class="btn btn-primary">Uložiť</button>
                        <a type="button" class="btn btn-default" href="@routes.Kalendar.list()">Späť</a>
                        <button type="button" style="margin-right: -2px;" class="pull-right btn btn-info" id="addEntry">
                            <i class="fa fa-plus"></i>
                        </button>

                    </div>
                }
            </div>

        </div>
    </div>
}{
    <script type="text/javascript" src='@routes.Assets.at("js/event.js")'></script>
}