@(itemForm: Form[StoredItem])

@import helper._
@import views.html.helpers._
@implicitFieldConstructor = @{ FieldConstructor(horizontalForm.render) }

@select(
    itemForm("category"),
    options(Category.options),
    'id -> "categorySelect", '_label -> "Kategória", 'class -> "form-control categorySelect", 'required -> "true"
)
@inputText(itemForm("name"), '_label -> "Názov", 'class -> "form-control", 'placeholder -> "Stolička ratan", 'required -> "true")
<div class="form-group">
    <label class="col-sm-2 control-label" id="amountLabel">Počet</label>
    <div class="col-sm-4">
        <div class="input-group">
            <input id="amountInput" name="amount" type="number" min="1" step="1" max="9999" required class="form-control" placeholder="45" value="@itemForm.apply("amount").value">
            <span class="input-group-addon" id="amountUnits">ks</span>
        </div>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label">Hmotnosť</label>
    <div class="col-sm-4">
        <div class="input-group">
            <input name="weight" type="number" min="0.01" step="0.01" max="9999" required class="form-control" placeholder="2,35" value="@itemForm.apply("weight").value">
            <span class="input-group-addon" id="weightUnits">kg</span>
        </div>
    </div>
</div>

<script type="text/javascript">
    function changeForm() {
        var e = document.getElementById("categorySelect");
        if (e.options[e.selectedIndex].value == 'CARPETS'){
            $("#amountUnits" ).html("m");
            $("#weightUnits").html('kg/m');
            $("#amountLabel" ).html('Dĺžka');
            $("#amountInput").attr("min",0.01);
            $("#amountInput").attr("step",0.01);
            $("#amountInput").attr("placeholder",'24,55');
        }else{
            $("#amountUnits" ).html("ks");
            $("#weightUnits").html('kg');
            $("#amountLabel" ).html('Počet');
            $("#amountInput").attr("min",1);
            $("#amountInput").attr("step",1);
            $("#amountInput").attr("placeholder",'45');
        }
    }

    $(document).ready(function() {
        changeForm();
    });
    $("#categorySelect").change(function() {
        changeForm();
    });
</script>