@(item: StoredItem)

<div class="form-group">
    <label class="col-sm-4 control-label">@item.name</label>
    <div class="col-sm-4">
        <div class="input-group">
            @if(item.category == Category.CARPETS){
                <input name="amount" type="number" min="0.01" step="0.01" required class="form-control">
                <span class="input-group-addon">m</span>
            }else{
                <input name="amount" type="number" min="1" step="1" required class="form-control">
                <span class="input-group-addon">ks</span>
            }
        </div>
    </div>
</div>