@import helper._

@form(routes.Kalendar.create(), 'class -> "form-horizontal formNewEvent", 'style -> "width:240px;"){
    <div class="form-group">
        <div class="col-sm-12">
            <input type="text" name="name" class="form-control inputEventName" placeholder="Názov" required="true" autocomplete="off">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-12">
            <select name="eventType" class="form-control selectEventType" required="true">
                <option value="ACTION">Akcia</option>
                <option value="RESERVATION">Rezervácia</option>
                <option value="SELFTRANSPORT">Vlastná doprava</option>
                <option value="INSTALLATION">Montáž</option>
            </select>
        </div>
    </div>
    <div class="selectActionContainer"></div>

    <input type="hidden" id="startDate" name="startDate">
    <input type="hidden" id="endDate" name="endDate">
    <input type="hidden" id="allDay" name="allDay">
    <button type="submit" class="btn btn-primary btnCreateEvent" >Vytvoriť</button>
}
