@masters.calendar("IS Klost | Kalendár"){
    <!-- fullCalendar -->
    <link href='@routes.Assets.at("css/fullcalendar/fullcalendar.css")' rel="stylesheet" type="text/css" />
    <link href='@routes.Assets.at("css/fullcalendar/fullcalendar.print.css")' rel="stylesheet" type="text/css" media='print' />
}{
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-body no-padding">
                    <!-- FULL CALENDAR -->
                    <div id="calendar"></div>
                </div>
            </div>
        </div>
    </div>

    <div id="popoverContent" class="hide">
        @forms.eventPopover()
    </div>
}{
    <!---------------------JAVASCRIPTS-------------------------------------------------------------->
    <!-- fullCalendar -->
    <script src='@routes.Assets.at("js/plugins/fullcalendar/fullcalendar.min.js")' type="text/javascript"></script>
    <script src='@routes.Assets.at("js/plugins/fullcalendar/gcal.js")' type='text/javascript'></script>
    <!-- fullCalendar init -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                buttonText: {//This is to add icons to the visible buttons
                    prev: "<span class='fa fa-caret-left'></span>",
                    next: "<span class='fa fa-caret-right'></span>",
                    today: 'today',
                    month: 'month',
                    week: 'week',
                    day: 'day'
                },
                height: $(window).height() - 120,
                windowResize: function(view) {
                    $('#calendar').fullCalendar('option', 'height', $(window).height() - 120);
                },
                eventSources: [
                    {
                        url: "https://www.google.com/calendar/feeds/o776rmha219v92fvejs0hahsso%40group.calendar.google.com/private-6968d2f0aa2dee4823410b8e47fa040c/basic",
                        color: '#92E1C0'
                    },
                    {
                        url: "https://www.google.com/calendar/feeds/gehqh0ptgh0i2hkh3f1l4tlerg%40group.calendar.google.com/private-65a3820d5b7a4aa1ac390d21d85d93fc/basic",
                        color: '#9FC6E7'
                    },
                    {
                        url: "https://www.google.com/calendar/feeds/3jg1lna270kjsjb0jjrhhqo5m8%40group.calendar.google.com/private-57e4356bbde4ecb5ba981a2eedb4dd91/basic",
                        color: '#FAD165'
                    },
                    {
                        url: "https://www.google.com/calendar/feeds/hq8a7ru1eh0qoj7bpn05amtsg8%40group.calendar.google.com/private-14076798185cd1615e25439fbd969ae8/basic",
                        color: '#CABDBF'
                    }
                ],
                defaultView: 'agendaWeek',
                firstDay: 1,
                selectable: true,
                selectHelper: true,
                unselectCancel: ".form-horizontal",
                select: function(startDate, endDate, allDay, jsEvent, view) {
                    console.log(startDate.getDate());
                    $("#startDate" ).attr("value", startDate);
                    $("#endDate" ).attr("value", endDate);
                    $("#allDay" ).attr("value", allDay);
                    var pos = allDay ? "bottom" : "top";
                    $(jsEvent.target).popover({
                        trigger: 'manual',
                        placement: pos,
                        container: 'body',
                        html: true,
                        content: function() {
                            return $("#popoverContent").html();
                        }
                    });
                    $(jsEvent.target).popover('show');
                },
                unselect: function( view, jsEvent ){
                    $ (".popover").remove();
                }
            });
        });
    </script>
}