@(tents: List[Tent])

@masters.tents("IS Klost | Stany"){

}{
    <!-- MODALS -->
    <!-- Modal asking to delete Tent -->
    <div class="modal" id="modal-tent-delete" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true"></div>

    <div class="row">
        <div class="col-md-12">

            <div class="box box-primary" style="width:640px;">

                <div class="box-header">
                    <h3 class="box-title">Typy stanov</h3>
                    <div class="pull-right box-tools">
                        <form action='@routes.Tents.neu()' method="GET">
                            <button type="submit" class="btn btn-primary">
                                Vytvoriť stan
                            </button>
                        </form>
                    </div>
                </div>

                <div class="box-body no-padding">
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <th>Názov</th>
                                <th>Akcia</th>
                            </tr>
                            @for(tent <- tents) {
                                <tr>
                                    <td>@tent.name</td>
                                    <td>
                                        <div class="btn-group btn-group-xs">

                                                <button type="button" class="btn btn-primary">Upraviť</button>

                                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                                <span class="caret"></span>
                                                <span class="sr-only">Toggle Dropdown</span>
                                            </button>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a href='@routes.Tents.deleteModal(tent.id)' data-toggle="modal" data-target="#modal-tent-delete" >Vymazať</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

            </div>

        </div>
    </div>
}{

}